<h1><%= @recipe.name %></h1>

<p>
  Overall User Rating :
  <% if @recipe.ratings_sum == nil %>
    No reviews posted, be the first!
  <% else %>
    <% case @recipe.ratings_sum / @recipe.ratings_total %>
      <% when  1 %>
      <span class="fa fa-star checked"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
      <% when  2 %>
      <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
      <% when  3 %>
      <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
      <% when  4 %>
      <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star"></span>
      <% when  5 %>
      <span class="fa fa-star checked"><span class="fa fa-star checked"><span class="fa fa-star checked"><span class="fa fa-star checked"><span class="fa fa-star checked">
    <% end %>
  <% end %>
</p>

<p>
 Your Rating : 
 <%p  @recipe.ratings.find_by(user_id: current_user.id, recipe_id: @recipe.id)%>
 <% if @recipe.ratings.find_by(user_id: current_user.id, recipe_id: @recipe.id).present? %>
  <% case @recipe.ratings.find_by(user_id: current_user.id, recipe_id: @recipe.id).score%>
      <% when  "1" %>
      <span class="fa fa-star checked"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
      <% when  "2" %>
      <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
      <% when  "3" %>
      <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
      <% when  "4" %>
      <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star"></span>
      <% when  "5" %>
      <span class="fa fa-star checked"><span class="fa fa-star checked"><span class="fa fa-star checked"><span class="fa fa-star checked"><span class="fa fa-star checked">
      <% end %>
 <% else %>
  Rate this recipe below!
<% end %>
</p>

<p>
  Recipe Details
  <%= @recipe.recipe_details %>
</p>

<%= render './ratings/form', recipe: @recipe, rating: @rating %>

<%= render './comments/form', recipe: @recipe, comment: @comment %>
<% @recipe.comments.each do |comment| %>
  <% if comment.content? %>
    <p>
      <%= comment.user.email%> : <%= comment.content %>
      <% if current_user.id == comment.user.id or current_user.admin?%>
        <%= link_to 'Remove Comment', [@comment.recipe, comment],
            method: :delete,
            data: { confirm: 'Are you sure?' } %>
      <% end %>
    </p>
  <% end %>
<% end %>